<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567139446673-tjj1idmkrb1cgbc9bevm2caknir68jeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567139446673-tjj1idmkrb1cgbc9bevm2caknir68jeu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567139446673-n9o2643j7gs9pqc1ni9ce0k5fca94tas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF4-CyXN4qI1ORU6UXrLbeq1iaj30xXoE</string>
	<key>GCM_SENDER_ID</key>
	<string>567139446673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter1</string>
	<key>PROJECT_ID</key>
	<string>in-my-home-ff68c</string>
	<key>STORAGE_BUCKET</key>
	<string>in-my-home-ff68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567139446673:ios:99d6fc7a88e2e348b2f430</string>
	<key>DATABASE_URL</key>
	<string>https://in-my-home-ff68c-default-rtdb.firebaseio.com</string>
</dict>
</plist>